params {
    input   = null
    outdir  = "results"
    backend = "esmfold"
}

profiles {
    standard {
        process.executor = 'local'
    }
}

process {
    cpus   = 2
    memory = '6.GB'

    withName: 'ESMFOLD' {
        cpus   = 4
        memory = '6.GB'
    }
}

report {
    enabled   = true
    file      = "${params.outdir}/pipeline_report.html"
    overwrite = true
}

timeline {
    enabled   = true
    file      = "${params.outdir}/timeline.html"
    overwrite = true
}
